<h1>Список продуктов</h1>
<a href="{% url 'product-create' %}">Добавить новый продукт</a>
    <h1>Поиск товаров</h1>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Искать</button>
    </form>

    {% if results %}
        <h2>Результаты поиска:</h2>
        <ul>
            {% for product in results %}
                <li>{{ product.name }} - {{ product.price }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Ничего не найдено.</p>
    {% endif %}
<ul>
    {% for product in products %}
        <li>
            <a href="{% url 'product-detail' product.pk %}">{{ product.name }}</a>
            <a href="{% url 'product-update' product.pk %}">Редактировать</a>
            <a href="{% url 'product-delete' product.pk %}">Удалить</a>
        </li>
    {% endfor %}
</ul>